body {
    background-color: rgb(250,250,240);
}

.custom-navbar {
    background-color: rgb(250,250,240); /* Custom color */
    position: relative; /* Make sure it's not 'fixed' */
    z-index: 1050; /* Ensures dropdowns appear correctly */
}

.carousel-item {
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 100px; /* Ensures content is visible even if small */
    padding: 20px 0; /* Adds space around text */
}

.carousel-item.active {
    display: flex; /* Only the active slide is shown */
}

.carousel-item:nth-child(2) { 
    background-color: rgb(250, 250, 240); 
    color: rgb(0,0,0); 
} 

.carousel-item:nth-child(3) { 
    background-color: rgb(250, 250, 240); 
    color: rgb(0,0,0); 
} 

.carousel-item:nth-child(4) { 
    background-color: rgb(250, 250, 240); 
    color: rgb(0,0,0); 
}

.carousel-item:nth-child(5) { 
    background-color: rgb(250, 250, 240); 
    color: rgb(0,0,0); 
} 

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); /* Makes the icon black */
}

#rds {
    transform: translate(9%, 0); 

}

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    background-color: rgb(220,230,225);
    color: rgb(0,0,0);
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
}

.box01 {
    background-color: rgb(100,116,153);
    color: rgb(255, 255, 255);
}

.box02 {
    background-color: rgb(191,71,24);
    color: rgb(255, 255, 255);
}

.box03 {
    background-color: rgb(45,87,99);
    color: rgb(255, 255, 255);
}

.box1 {
    background-color: rgb(100,116,153);
    color: rgb(255, 255, 255);
}

.box11 {
    background-color: rgb(191,71,24);
    color: rgb(255, 255, 255);
}

.box21 {
    background-color: rgb(45,87,99);
    color: rgb(255, 255, 255);
}

.accordion-button {
    background-color: rgb(218,70,50); /* Blue background */
    color: white; /* White text */
    font-family: monospace;
}

/* Style for when the accordion button is expanded */
.accordion-button:not(.collapsed) {
    background-color: rgb(54, 116, 67); /* Darker blue */
    color: white;
}

/* Remove the default Bootstrap background color */
.accordion-button:focus {
    box-shadow: none; /* Removes focus outline */
}

/* Customize the accordion body */
.accordion-body {
    background-color: rgb(220,230,225); /* Light gray */
    color: black;
    font-family: 'Georgia', serif;
}

/* Customize the accordion item */
.accordion-item {
    border: 1px solid #007bff; /* Blue border */
}

/* Change Arrow Color */
.accordion-button::after {
    filter: invert(1); /* Changes Bootstrap's default black arrow to white */
}

#chart-container svg {
    width: 100%;
    height: auto;
    max-height: 600px;  /* Optional: Set max height */
}



